<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length >= 1 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>{{ post.title }}</mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    {{ userIsAuthenticated }}
    <mat-action-row *ngIf="userIsAuthenticated">
      <a [routerLink]="['/edit',post.id]" color="primary" mat-button>Edit</a>
      <button color="warn" mat-button (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator *ngIf="posts.length >= 1" (page)="onChangePage($event)" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"></mat-paginator>

<p class="info-text mat-body-1" *ngIf="posts.length == 0 && !isLoading">No Posts added yet!</p>